theaa-prod/force-app/main/default/flows/Account_Folder_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>As the Account Folder name is found, we can remove it from the list of folder names to create.</description>
        <name>Acct_Folder_exists_remove_name_from_create_list</name>
        <label>Acct Folder exists, remove name from create list</label>
        <locationX>270</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>CollectionofAcctFoldersNames</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Loop_through_existing_Account_Folders.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_existing_Account_Folders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Acct_Folder_to_collection</name>
        <label>Add Acct Folder to collection</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>CollectionofAcctFoldersNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Genereate_a_list_of_req_d_Account_Folder.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Genereate_a_list_of_req_d_Account_Folder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For each loop, initialiase a temporary version of an Acct Folder record to be added to a collection.</description>
        <name>Initialise_temp_Account_Folder_record</name>
        <label>Initialise temp. Account Folder record</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempAccountFolderrecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Acct_Folders_to_be_created</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccountFolderrecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFolderstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempAccountFolderrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Acct_Folders_to_be_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Folders_need_to_be_created</name>
        <label>Account Folders need to be created</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_records_to_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionofAcctFoldersNames</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Acct_Folders_to_be_created</targetReference>
            </connector>
            <label>Yes, records to be created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_req_d_Account_Folder_exist</name>
        <label>Does req&apos;d Account Folder exist?</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Loop_through_existing_Account_Folders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_reqd_acct_folder_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionofAcctFoldersNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_existing_Account_Folders.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acct_Folder_exists_remove_name_from_create_list</targetReference>
            </connector>
            <label>Yes, req&apos;d acct folder exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Folder Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Folder Sync</label>
    <loops>
        <description>Genereate a list of the required Account Folders, used to test which folders an account already has, and which need to be created.</description>
        <name>Genereate_a_list_of_req_d_Account_Folder</name>
        <label>Genereate a list of req&apos;d Account Folder</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Req_d_Account_Folder_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Acct_Folder_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_linked_Account_Folders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_existing_Account_Folders</name>
        <label>Loop through existing Account Folders</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_linked_Account_Folders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_req_d_Account_Folder_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Folders_need_to_be_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the {!CollectionofAcctFoldersNames} variable, what is left in the collection, needs to be created.</description>
        <name>Which_Acct_Folders_to_be_created</name>
        <label>Which Acct Folders to be created?</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <collectionReference>CollectionofAcctFoldersNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialise_temp_Account_Folder_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Account_Folders_as_req_d</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Folders_as_req_d</name>
        <label>Create Account Folders as req&apos;d</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>AccountFolderstocreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_linked_Account_Folders</name>
        <label>Get linked Account Folders</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_existing_Account_Folders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Folders__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Account Folders required, as setup in the Custom Metadata</description>
        <name>Req_d_Account_Folder_Metadata</name>
        <label>Req&apos;d Account Folder Metadata</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Genereate_a_list_of_req_d_Account_Folder</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Folder_Setup__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Stamp the account record, with the current date/time to complete the flow</description>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <inputAssignments>
            <field>Account_Folder_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Req_d_Account_Folder_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Folder_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFolderstocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Folders__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfAccountFolders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Folders__c</objectType>
    </variables>
    <variables>
        <name>CollectionofAcctFoldersNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Folders__c</objectType>
    </variables>
    <variables>
        <name>TempAccountFolderrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Folders__c</objectType>
    </variables>
</Flow>
