theaa-prod/force-app/main/default/flows/Case_Creation_Update_Type_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to sales support &amp; internal.businesssupport@drivetech.co.uk to notify that reuest is in</description>
        <name>Account_Close_Notification</name>
        <label>Account Close Notification</label>
        <locationX>2536</locationX>
        <locationY>1079</locationY>
        <actionName>Case.Account_Close_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Account_Close_Request</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledge_Case_Commercial_Bookings</name>
        <label>Acknowledge Case - Commercial Bookings</label>
        <locationX>776</locationX>
        <locationY>1403</locationY>
        <actionName>Case.Case_Is_Created_Commercial_Booklings</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_Commercial_Booklings</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledge_Case_Commercial_Support</name>
        <label>Acknowledge Case - Commercial Support</label>
        <locationX>336</locationX>
        <locationY>1511</locationY>
        <actionName>Case.Case_Is_Created_Commercial_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_Commercial_Support</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledge_Case_International_Support</name>
        <label>Acknowledge Case - International Support</label>
        <locationX>1216</locationX>
        <locationY>1403</locationY>
        <actionName>Case.Case_Is_Created_International_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_International_Support</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledge_Case_Product_Support</name>
        <label>Acknowledge Case - Product Support</label>
        <locationX>1656</locationX>
        <locationY>1403</locationY>
        <actionName>Case.Case_Is_Created_Product_Support</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_Product_Support</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledgement_Email_SDM</name>
        <label>Acknowledgement Email - SDM</label>
        <locationX>2096</locationX>
        <locationY>1403</locationY>
        <actionName>Case.Case_Is_Created_SDM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_SDM</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Acknowledgement_Kinto_Risk_Case</name>
        <label>Acknowledgement - Kinto Risk Case</label>
        <locationX>72</locationX>
        <locationY>1511</locationY>
        <actionName>Case.Case_Is_Created_Kinto_Risk_Management</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Is_Created_Kinto_Risk_Management</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Notify Implementation of an Account Change</description>
        <name>Send_Email_to_Implementation</name>
        <label>Send Email to Implementation</label>
        <locationX>2800</locationX>
        <locationY>1295</locationY>
        <actionName>Case.Account_Change_Requested</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Account_Change_Requested</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Entitlement</name>
        <label>Assign Entitlement</label>
        <locationX>2134</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement_Process.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>External_or_Internal_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Q_Commercial_Bookings</name>
        <label>Assign Initial Q - Commercial Bookings</label>
        <locationX>688</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial Bookings</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Address_check_Bookings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns initial queue to a &apos;Initial Case Queue&apos;</description>
        <name>Assign_Initial_Q_Commercial_Support</name>
        <label>Assign Initial Q - Commercial Support</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>From_Email_Address_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Q_International_Support</name>
        <label>Assign Initial Q - International Support</label>
        <locationX>1128</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>International Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_From_Email_Address_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Q_Product_Support</name>
        <label>Assign Initial Q - Product Support</label>
        <locationX>1568</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Address_check_Product_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Q_SDM</name>
        <label>Assign Initial Q - SDM</label>
        <locationX>2008</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SDM - Drivetech</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Address_check_SDM</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Holds the case queue</description>
        <name>vrCaseQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product_Support</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_Queue_Owner</name>
        <label>Case Queue Owner</label>
        <locationX>1205</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commercial_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commercial_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Q_Commercial_Support</targetReference>
            </connector>
            <label>Commercial Support</label>
        </rules>
        <rules>
            <name>Commercial_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commercial_Bookings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Q_Commercial_Bookings</targetReference>
            </connector>
            <label>Commercial Bookings</label>
        </rules>
        <rules>
            <name>International_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>International_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Q_International_Support</targetReference>
            </connector>
            <label>International Support</label>
        </rules>
        <rules>
            <name>Product_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Product_Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Q_Product_Support</targetReference>
            </connector>
            <label>Product Support</label>
        </rules>
        <rules>
            <name>SDM_Drivetech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SDM_Drivetech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Q_SDM</targetReference>
            </connector>
            <label>SDM Drivetech</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_From_Email_Address_check</name>
        <label>Email Address check - International</label>
        <locationX>1128</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Acknowledge_Case_International_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Email_Address_International_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleet.customersupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetsafe@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech-international.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kintoriskmanagement@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drivercpc@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>balfourbeatty@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Internal Email Address - International Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Address_check_Bookings</name>
        <label>Email Address check - Bookings</label>
        <locationX>688</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Acknowledge_Case_Commercial_Bookings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Email_Address_Commercial_Bookings</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleet.customersupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetsafe@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>internationalsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kintoriskmanagement@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>balfourbeatty@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drivercpc@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Internal Email Address - Commercial Bookings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Address_check_Product_Support</name>
        <label>Email Address check - Product Support</label>
        <locationX>1568</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Acknowledge_Case_Product_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Email_Address_Product_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleet.customersupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetsafe@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>internationalsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kintoriskmanagement@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>balfourbeatty@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drivercpc@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Internal Email Address - Product Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Address_check_SDM</name>
        <label>Email Address check - SDM</label>
        <locationX>2008</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Acknowledgement_Email_SDM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Email_Address_SDM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleet.customersupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetsafe@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>internationalsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kintoriskmanagement@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>balfourbeatty@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drivercpc@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sdm@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Internal Email Address -SDM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the case from a customer</description>
        <name>External_or_Internal_Case</name>
        <label>External or Internal Case</label>
        <locationX>2134</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal - PRF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Ops Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Internal - Account Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Queue_Owner</targetReference>
            </connector>
            <label>External</label>
        </rules>
        <rules>
            <name>Account_Closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal - Account Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Close_Notification</targetReference>
            </connector>
            <label>Account Closure</label>
        </rules>
        <rules>
            <name>PRF_Internal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal - PRF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Support_Case_Queue</targetReference>
            </connector>
            <label>PRF - Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Email_Address_check</name>
        <label>From Email Address check</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Kinto_Risk_Case_Received</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Email_Address_Commercial_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleet.customersupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fleetsafe@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>internationalsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>productsupport@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>drivercpc@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>balfourbeatty@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Internal Email Address - Commercial Support</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the email Subject an autroresponse where cases should not be created?</description>
        <name>Is_email_an_Autoresponse</name>
        <label>Is email an Autoresponse?</label>
        <locationX>883</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Entitlement_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Autoresponse_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Delivery Status Notification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Returned mail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Undelivered Mail Returned to Sender</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email Acknowledgement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source:EmailMessage.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <label>Autoresponse Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Drivetech</name>
        <label>Is it Drivetech?</label>
        <locationX>2061</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drivetech_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_email_an_Autoresponse</targetReference>
            </connector>
            <label>Drivetech Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kinto_Risk_Case_Received</name>
        <label>Kinto Risk Case Received?</label>
        <locationX>204</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Acknowledge_Case_Commercial_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Kinto_Risk_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kintoriskmanagement@drivetech.co.uk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acknowledgement_Kinto_Risk_Case</targetReference>
            </connector>
            <label>Kinto Risk Case</label>
        </rules>
    </decisions>
    <description>Actions related to when a case is created, such as entitlement assignment/email to web email/etc....</description>
    <environments>Default</environments>
    <interviewLabel>Case Creation - Update Type &amp; Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Create Case Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Entitlement_Process</name>
        <label>Get Entitlement Process</label>
        <locationX>2134</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Drivetech</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID for the Product Support Case Queue</description>
        <name>Get_Product_Support_Case_Queue</name>
        <label>Get Product Support Case Queue</label>
        <locationX>2800</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Support_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vrCaseQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_from_Web_Email</name>
        <label>Get User from Web Email</label>
        <locationX>2061</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Product_Support_Queue</name>
        <label>Assign Product Support Queue</label>
        <locationX>2800</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Send_Email_to_Implementation</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - PRF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Product_Support_Case_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_User_to_Case</name>
        <label>Assign User to Case</label>
        <locationX>2061</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_it_Drivetech</targetReference>
        </connector>
        <inputAssignments>
            <field>Internal_User__c</field>
            <value>
                <elementReference>Get_User_from_Web_Email.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2134</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>$Record.EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1935</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_from_Web_Email</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
