theaa-prod/force-app/main/default/flows/Contract_Update_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Is the contract the Master Contract and the Status is Activated.</description>
        <name>Is_Status_Changed_to_Activated</name>
        <label>Is Status Changed to Activated</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>All Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_As_Not_Closed</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Sector_is_the_Contract</name>
        <label>Which Sector is the Contract</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Business Services</defaultConnectorLabel>
        <rules>
            <name>Drivetech</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Status_Changed_to_Activated</targetReference>
            </connector>
            <label>Drivetech</label>
        </rules>
    </decisions>
    <description>Update records that relate to a contract based on t Sector &amp; Status</description>
    <environments>Default</environments>
    <interviewLabel>Contract - Update Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Update Related Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_As_Not_Closed</name>
        <label>Update Account As Not Closed</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_the_Related_Opportunity_to_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Closed_Drivetech__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Related_Opportunity_to_Closed_Won</name>
        <label>Update the Related Opportunity to Closed Won</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>$Record.ContractTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Related_Won_Opportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Sector_is_the_Contract</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
