theaa-prod/force-app/main/default/flows/Count_Contract_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Number_of_Documents</name>
        <label>Assign Number of Documents</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>TotalDocsVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_variable_to_0</name>
        <label>Set to variable to 0</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>TotalDocsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Documents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Documents_Found</name>
        <label>Are Documents Found?</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Assign_Number_of_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents Found</defaultConnectorLabel>
        <rules>
            <name>No_update_req_d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalDocsVar</elementReference>
                </rightValue>
            </conditions>
            <label>No update req&apos;d</label>
        </rules>
        <rules>
            <name>No_Documents_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Documents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Zero_Documents</targetReference>
            </connector>
            <label>Update - no Documents Found</label>
        </rules>
    </decisions>
    <description>Counts the number of documents attached to a Contract</description>
    <environments>Default</environments>
    <interviewLabel>Count Contract Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Contract Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Documents from Contracts</description>
        <name>Get_Documents</name>
        <label>Get Documents</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Documents_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Populate the total number of documents in the respective field</description>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>No_of_Documents__c</field>
            <value>
                <elementReference>TotalDocsVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Zero_Documents</name>
        <label>Update Zero Documents</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>No_of_Documents__c</field>
            <value>
                <elementReference>TotalDocsVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_to_variable_to_0</targetReference>
        </connector>
        <object>Contract</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2024-08-15</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DocCollectionVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalDocsVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
