theaa-prod/force-app/main/default/flows/Drivetech_Create_Contract_and_PRF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Active_Contract_variable</name>
        <label>Assign to Active Contract variable</label>
        <locationX>842</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Get_Active_Master_Contract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Master_Contract</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NCA_Contract_BOTH</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Has user specified they want to create the Main Contract/Non Contractual Agreement?</description>
        <name>Create_Contracts</name>
        <label>Create Contracts</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Non Contractual Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NCA_Contract_NCA</targetReference>
            </connector>
            <label>Yes - Create NCA</label>
        </rules>
        <rules>
            <name>YesMain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Main Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Active_Master_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Main_Contract</targetReference>
            </connector>
            <label>Yes - Create Main</label>
        </rules>
        <rules>
            <name>YesBoth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes - Both</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Main_Contract_Needed</targetReference>
            </connector>
            <label>Yes - Create Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Main_Contract_Needed</name>
        <label>Create Main Contract</label>
        <locationX>974</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Create_NCA_Contract_BOTH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active Main contract found</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Master_Contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Main_Contract_BOTH</targetReference>
            </connector>
            <label>Yes - Create Main</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a PRF is needed for this opportunity</description>
        <name>Create_PRF_for_this_Opportuity</name>
        <label>Create PRF for this Opportuity?</label>
        <locationX>798</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRF_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_PRF_Cross_Upsell</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRF_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opp_closed</name>
        <label>Is opp closed?</label>
        <locationX>2943</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Sector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_is_now_closed</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Closed_update_Closed_Date</targetReference>
            </connector>
            <label>Opp is being closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sector</name>
        <label>Sector</label>
        <locationX>2943</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>What_Stage_is_Bus_Services_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drivetech</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Stage_is_Opportunity</targetReference>
            </connector>
            <label>Drivetech</label>
        </rules>
        <rules>
            <name>Accident_Management</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_stage_is_Acc_Man_opportunity</targetReference>
            </connector>
            <label>Accident Management</label>
        </rules>
        <rules>
            <name>Commissioning_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commissioning Force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Stage_is_the_Commissioning_Force_Opp</targetReference>
            </connector>
            <label>Commissioning Force</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Opportunity_Type</name>
        <label>What is the Opportunity Type</label>
        <locationX>798</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <label>New or Renewal</label>
        </rules>
        <rules>
            <name>Cross_Sell</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Cross Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Cross Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Master_Contract</targetReference>
            </connector>
            <label>CrossSell / UpSell</label>
        </rules>
    </decisions>
    <decisions>
        <description>What stage is the opportunity for Accident Management</description>
        <name>What_stage_is_Acc_Man_opportunity</name>
        <label>What stage is Acc Man opportunity</label>
        <locationX>2866</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost_Acc_Man</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_any_open_Acc_Man_Contracts</targetReference>
            </connector>
            <label>Closed Lost - Acc Man</label>
        </rules>
        <rules>
            <name>Best_View_Acc_Man</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract_for_Accident_Management</targetReference>
            </connector>
            <label>Best View - Acc Man</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_is_Bus_Services_Opportunity</name>
        <label>What Stage is Bus Services Opportunity?</label>
        <locationX>4318</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Services_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract_Business_Services</targetReference>
            </connector>
            <label>Business Services - Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_is_Opportunity</name>
        <label>What Stage is Opportunity?</label>
        <locationX>1568</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Best_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Opportunity_Type</targetReference>
            </connector>
            <label>Best View</label>
        </rules>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_any_open_Contracts</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Stage_is_the_Commissioning_Force_Opp</name>
        <label>What Stage is the Commissioning Force Opp</label>
        <locationX>3658</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost_Comm_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_any_open_Comm_Force_Contracts</targetReference>
            </connector>
            <label>Closed Lost - Comm Force</label>
        </rules>
        <rules>
            <name>Best_View_COmm_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Best View</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Create_with_Related_Records_Flow_8</targetReference>
            </connector>
            <label>Best View Comm Force</label>
        </rules>
    </decisions>
    <description>Drivetech - Create Contract and PRF, cancel any contract/PRF on closed lost</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW_TIME</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Create Contract and PRF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Updated Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_any_open_Acc_Man_Contracts</name>
        <label>Delete any open Acc Man Contracts</label>
        <locationX>2602</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Won_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_any_open_Comm_Force_Contracts</name>
        <label>Delete any open Comm Force Contracts</label>
        <locationX>3394</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Won_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_any_open_Contracts</name>
        <label>Delete any open Contracts</label>
        <locationX>2074</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Delete_any_PRF_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Won_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_any_PRF_Orders</name>
        <label>Delete any PRF Orders</label>
        <locationX>2074</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Order</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Acc_Man_contract</name>
        <label>Get Acc Man contract</label>
        <locationX>2866</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Contract_for_Accident_Management.CreatedContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Master_Contract</name>
        <label>Get Active Master Contract</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>NOW_TIME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivetech</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contract for this Commissioning force opportunity</description>
        <name>Get_Comm_Force_Contract</name>
        <label>Get Comm Force Contract</label>
        <locationX>3658</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Comm_Force_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Won_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Bus_Serv_AA_X</name>
        <label>Get Contract - Bus Serv &amp; AA-X)</label>
        <locationX>4186</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract_Type_Bus_Serv_AA_X</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Bus_Serv_AA_X.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Master_Contract</name>
        <label>Get Created Master Contract</label>
        <locationX>842</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Active_Contract_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>NOW_TIME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivetech</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>If_Closed_update_Closed_Date</name>
        <label>If Closed, update Closed Date</label>
        <locationX>2811</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Sector</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>NOW_TIME</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Comm_Force_Contract</name>
        <label>Update Comm Force Contract</label>
        <locationX>3658</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <stringValue>Commissioning Force</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contracts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Type</name>
        <label>Update Contract Type</label>
        <locationX>2866</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Type_Bus_Serv_AA_X</name>
        <label>Update Contract Type (Bus Serv &amp; AA-X)</label>
        <locationX>4186</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_Bus_Serv_AA_X.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>2817</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_opp_closed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Contract_Create_with_Related_Records_Flow_8</name>
        <label>Contract - Create with Related Records Flow 8</label>
        <locationX>3658</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Comm_Force_Contract</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Create_Order_PRF</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Contract_Business_Services</name>
        <label>Create Contract - Business Services</label>
        <locationX>4186</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Contract_Bus_Serv_AA_X</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Contract_for_Accident_Management</name>
        <label>Create Contract for Accident Management</label>
        <locationX>2866</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Get_Acc_Man_contract</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Main_Contract</name>
        <label>Create Main Contract</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_PRF_for_this_Opportuity</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MainContract</name>
            <value>
                <elementReference>Get_Active_Master_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Main_Contract_BOTH</name>
        <label>Create Main Contract</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Get_Created_Master_Contract</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
            <value>
                <stringValue>Master Contract</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MainContract</name>
            <value>
                <elementReference>Get_Active_Master_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_NCA_Contract_BOTH</name>
        <label>Create NCA Contract</label>
        <locationX>974</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Create_PRF_for_this_Opportuity</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
            <value>
                <stringValue>Non Contractual Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MainContract</name>
            <value>
                <elementReference>Get_Active_Master_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_NCA_Contract_NCA</name>
        <label>Create NCA Contract</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_PRF_for_this_Opportuity</targetReference>
        </connector>
        <flowName>Contract_Create_with_Related_Records</flowName>
        <inputAssignments>
            <name>ContractType</name>
            <value>
                <stringValue>Non Contractual Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MainContract</name>
            <value>
                <elementReference>Get_Active_Master_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Order_PRF</name>
        <label>Create Order (PRF)</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <flowName>Orders_Create_Order_with_Related_Records</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Order_PRF_Cross_Upsell</name>
        <label>Create Order (PRF) Cross/Upsell</label>
        <locationX>534</locationX>
        <locationY>1979</locationY>
        <flowName>Orders_Create_Order_with_Related_Records</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ContractLIsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>CreatedContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContractProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>NewOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProdsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
