theaa-prod/force-app/main/default/flows/PRF_Status_Notification_Flow_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to Public Group - Implementation Team &amp; Order Owner to confirm &amp; notify of Status change</description>
        <name>Alert_Implementation_Inbox</name>
        <label>Alert Implementation</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Order.PRF_Form_is_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.PRF_Form_is_Submitted</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PRF_Form_is_Completed</name>
        <label>PRF Form is Completed</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Order.PRF_Form_is_Completed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.PRF_Form_is_Completed</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PRF_Form_Status_has_Changed</name>
        <label>PRF Form Status has Changed</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Order.PRF_Form_Status_has_Changed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.PRF_Form_Status_has_Changed</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>What_is_the_current_status</name>
        <label>What is the current status?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Draft</defaultConnectorLabel>
        <rules>
            <name>Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Support_Queue</targetReference>
            </connector>
            <label>Implementation</label>
        </rules>
        <rules>
            <name>Ready_for_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRF_Form_Status_has_Changed</targetReference>
            </connector>
            <label>Ready for Review</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRF_Form_is_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Flow to create related records such as cases and send notification emails</description>
    <environments>Default</environments>
    <interviewLabel>PRF Status &amp; Notification Flow (RTF) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orders - Update &amp; Create Related records &amp; Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the case for the Product Setup to be done in the Product Support Queue</description>
        <name>Create_Product_Support_Case</name>
        <label>Create Product Support Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Alert_Implementation_Inbox</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Category_Reason__c</field>
            <value>
                <stringValue>Account Creation/Configuration/Deletion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Queue__c</field>
            <value>
                <stringValue>Product Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal - PRF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Product_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRF__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>PRF for Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>FRM</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Support_Queue</name>
        <label>Get Product Support Queue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Product_Support_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_current_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
