force-app/main/default/flows/Account_Calculation_Flow_Bulkification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_ID_to_collection</name>
        <label>Add Account ID to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AccountIds.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AccountIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accident_total</name>
        <label>Assign Accident total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Accident__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Accident__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_to_be_updated</name>
        <label>Assign Account to be updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountTotalsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>for_each_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACV_from_formula_field</name>
        <label>Assign ACV from formula field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Account_level_Contracts_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commissioning_Force_Contract_Value</name>
        <label>Assign Commissioning Force Contract Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Police_Force__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Police_Force__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Drivetech_total</name>
        <label>Assign Drivetech total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Drivetech__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Drivetech__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Roadside_value</name>
        <label>Assign Roadside value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Roadside__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Roadside__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SMR_Contract_Value</name>
        <label>Assign SMR Contract Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_SMR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_SMR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Vixa_Pro_Contract_Value</name>
        <label>Assign Vixa Pro Contract Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Vixa_Pro__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Vixa_Pro__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Account_level_Contracts_value</name>
        <label>Calculate Account level Contracts value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Contract_Totals.Total_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sectors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Annual_Contract_Value_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Account_values</name>
        <label>Reset Account values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Accident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Drivetech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Police_Force__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Roadside__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_SMR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value_Vixa_Pro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Total_Contract_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Accident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Drivetech__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Police_Force__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Roadside__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_SMR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>for_each_Account.Annual_Contract_Value_Vixa_Pro__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Contracts_for_this_Account</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Contracts_for_this_Account</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Contracts for this Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Contracts_for_this_Account</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Contracts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Contracts_for_this_Account.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>for_each_Account.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_of_Contracts_for_this_Account</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Validate Annual Contract Value (text) field is populated</description>
        <name>Annual_Contract_Value_populated</name>
        <label>Is Annual Contract Value (text) populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Account_level_Contracts_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACV_is_blank_not_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Annual_Contract_Value_text__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ACV_from_formula_field</targetReference>
            </connector>
            <label>ACV is blank/not populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Now based on the contract&apos;s sector - add the total</description>
        <name>Sectors</name>
        <label>Sectors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drivetech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Drivetech_total</targetReference>
            </connector>
            <label>Drivetech</label>
        </rules>
        <rules>
            <name>Accident_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accident_total</targetReference>
            </connector>
            <label>Accident Management</label>
        </rules>
        <rules>
            <name>Roadside</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet &amp; Leasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI&amp;P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Roadside_value</targetReference>
            </connector>
            <label>Roadside</label>
        </rules>
        <rules>
            <name>Vixa_Pro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vixa_Pro_Contract_Value</targetReference>
            </connector>
            <label>Vixa Pro</label>
        </rules>
        <rules>
            <name>Commissioning_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commissioning Force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commissioning_Force_Contract_Value</targetReference>
            </connector>
            <label>Commissioning Force</label>
        </rules>
        <rules>
            <name>SMR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Contract_Totals.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prestige</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SMR_Contract_Value</targetReference>
            </connector>
            <label>SMR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FxAccidentContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FxDrivetechContractTotal</name>
        <dataType>Currency</dataType>
        <expression>IF( 
!ISBLANK({!Calculate_Contract_Totals.Annual_Contract_Value_text__c}), 
{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}, 
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FxPoliceForceContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FxRoadsideContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FxSMRContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FxTotalContractValue</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FxVixaProContractTotal</name>
        <dataType>Currency</dataType>
        <expression>{!Calculate_Contract_Totals.Annual_Contract_Value_text__c}*{!Calculate_Contract_Totals.ContractTerm}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account Calculation Flow - Bulkification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Calculation Flow - Active Contracts</label>
    <loops>
        <name>Calculate_Contract_Totals</name>
        <label>Calculate Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Contracts_for_this_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Account_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_Account</name>
        <label>for each Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Linked_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Account_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Totals</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_AccountIds</name>
        <label>Get AccountIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_ID_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Linked_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Active Contracts, sorted by Account ID (ascending).  This allows the flow to determine if totals need to be reset or included with the previous contract in the collection.</description>
        <name>Get_Active_Contracts</name>
        <label>Get Active Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AccountIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fxToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>800Tw00000XIwkJIAT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Linked_Accounts</name>
        <label>Get Linked Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>for_each_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varAccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Totals</name>
        <label>Update Account Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varAccountTotalsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Contracts</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-02-02</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Count_of_Contracts_for_this_Account</name>
        <label>Count of Contracts for this Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Contract_Totals</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Contracts_for_this_Account</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVAccidentMgmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVCommForce</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVDrivetech</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVRoadside</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVSMR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Annual Contract Value (ACV)</description>
        <name>ACVVixaPro</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Contracts_for_this_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItem_tempAccount_Already_in_List</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>for the account, what is the Annual Contract Values across all sectors</description>
        <name>SumOfAnnualContractsValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>for the Account, what is the Total Contract Value</description>
        <name>SumOfTotalContractValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueAccidentMgmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueCommForce</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueDrivetech</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueRoadside</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueSMR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalContractValueVixaPro</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountTotalsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Temporary Account record that is being updated with totals</description>
        <name>varTempAccountTotals</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
