force-app/main/default/flows/Case_Case_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email case creator that the changes are completed</description>
        <name>Email_Case_Creator</name>
        <label>Email Case Creator</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <actionName>Case.Account_Change_is_Complete</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Account_Change_is_Complete</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Identifies if the case relates to a PRF (Order) or for a close account for Drivetech</description>
        <name>Is_the_case_related_to_PRF_Order</name>
        <label>Is the case related to PRF (Order)</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Category_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Creation/Configuration/Deletion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PRF</targetReference>
            </connector>
            <label>PRF</label>
        </rules>
        <rules>
            <name>Close_DT_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Account</targetReference>
            </connector>
            <label>Close DT Account</label>
        </rules>
        <rules>
            <name>Account_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Category_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Case_Creator</targetReference>
            </connector>
            <label>Account Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_changed</name>
        <label>Status changed?</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No, status not changed.</defaultConnectorLabel>
        <rules>
            <name>Changed_to_closed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Milestone_to_Completed</targetReference>
            </connector>
            <label>Changed to Closed</label>
        </rules>
        <rules>
            <name>Yes_Status_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Milestone_Completed_to_FALSE</targetReference>
            </connector>
            <label>Yes, Status updated (to something not Closed)</label>
        </rules>
    </decisions>
    <description>Updating of cases &amp; related records</description>
    <environments>Default</environments>
    <formulas>
        <name>NowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Case - Case Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Case Updated includes any related records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get &apos;Close Case&apos; Milestone to allow us to isolate/avoid it in this flow.</description>
        <name>Get_Close_Case_Milestone</name>
        <label>Get &apos;Close Case&apos; Milestone</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Close Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Account</name>
        <label>Close Account</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Related_DT_Contracts_to_Expired</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Closed_Drivetech__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Milestone_to_Completed</name>
        <label>Update Case Milestone to Completed</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Close_Case_Milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>NowDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Milestone_Completed</name>
        <label>Update All Milestone Completed</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_the_case_related_to_PRF_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Milestones_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_Milestone_Completed_to_FALSE</name>
        <label>Update &apos;All Milestone Completed&apos; to FALSE</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Case_Milestone_to_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>All_Milestones_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Milestone_to_Completed</name>
        <label>Update Case Milestone to Completed</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_All_Milestone_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Close_Case_Milestone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>NowDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>CaseMilestone</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update PRF (Order) that thi case is complete adn product support setup is done</description>
        <name>Update_PRF</name>
        <label>Update PRF</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PRF__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Support_Setup_Complete__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_DT_Contracts_to_Expired</name>
        <label>Update Related DT  Contracts to Expired</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivetech</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account.Contracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Close_Case_Milestone</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
