force-app/main/default/flows/Opportunity_Creation_Screen_Flow_Without_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_created_opp</name>
        <label>Navigate to created opp</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>CreatedOppID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ISO_Code_EUR</name>
        <label>Assign ISO Code EUR</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CurrencyISO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAX_or_everything_else</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ISO_Code_GBP</name>
        <label>Assign ISO Code GBP</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CurrencyISO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAX_or_everything_else</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ISO_GBP_as_Default</name>
        <label>Assign ISO GBP as Default</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>CurrencyISO</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AAX_or_everything_else</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the records type to the Opportunity Variable also includes Account ID</description>
        <name>Opportunity_Values_Assignment</name>
        <label>Opportunity Values Assignment</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>VarOppRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTOppPick.selectedRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Universe</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AAX_or_everything_else</name>
        <label>AAX or everything else?</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Create_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAX_OPTION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Fleet_Size_AAX</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AAX_Opp</targetReference>
            </connector>
            <label>AAX</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the currency needed on the deal GBP or EUR</description>
        <name>Currency_EUR_or_GBP</name>
        <label>Currency EUR or GBP</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_ISO_GBP_as_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>EUR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UK_or_International_Fleet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ISO_Code_EUR</targetReference>
            </connector>
            <label>EUR</label>
        </rules>
        <rules>
            <name>GBP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UK_or_International_Fleet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ISO_Code_GBP</targetReference>
            </connector>
            <label>GBP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Vehicle_data</name>
        <label>Populate Vehicle data?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commissioning Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sector</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SME</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Currency_EUR_or_GBP</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Create an AA opportunity for any sector without adding products</description>
    <dynamicChoiceSets>
        <name>BidNoBidPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bid_No_Bid__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractCreationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Create_Contract__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PRFCreationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRF_Creation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PRFPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRF_Creation__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SectorPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sector__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UKorInternationalFleetPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UK_or_International_Fleet__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Fx_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>fxOppName</name>
        <dataType>String</dataType>
        <expression>{!Sector}&amp;&quot;_&quot;&amp;{!AccountName.recordName}&amp;&quot;_&quot;&amp;{!Opportunity_Type}&amp;&quot;-&quot;&amp;TEXT(YEAR({!Close_Date}))</expression>
    </formulas>
    <interviewLabel>Opportunity Creation Screen Flow - Without Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Creation Screen Flow - Without Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AAX_Opp</name>
        <label>Create AAX Opp</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>CreatedOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_created_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_No_Bid__c</field>
            <value>
                <elementReference>Bid_No_Bid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Contract__c</field>
            <value>
                <elementReference>Contract_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>CurrencyISO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grey_Fleet__c</field>
            <value>
                <elementReference>Grey_Fleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holdings__c</field>
            <value>
                <elementReference>Holding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Date__c</field>
            <value>
                <elementReference>Live_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Buses__c</field>
            <value>
                <elementReference>No_of_Buses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Cars__c</field>
            <value>
                <elementReference>No_of_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Coaches__c</field>
            <value>
                <elementReference>No_of_Coaches</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_E_Scooter_E_Bikes__c</field>
            <value>
                <elementReference>No_of_E_Scooter_E_Bikes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Electric_Cars__c</field>
            <value>
                <elementReference>No_of_Electric_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Electric_Vans__c</field>
            <value>
                <elementReference>No_of_Electric_Vans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_HGV__c</field>
            <value>
                <elementReference>No_of_HGV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Minibuses__c</field>
            <value>
                <elementReference>No_of_Minibuses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Off_Road_4x4__c</field>
            <value>
                <elementReference>No_of_Off_Road_4x4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Vans_LCVs__c</field>
            <value>
                <elementReference>No_of_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Drivers__c</field>
            <value>
                <elementReference>Number_of_Drivers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRF_Creation__c</field>
            <value>
                <elementReference>PRF_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTOppPick.selectedRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>Sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Fleet_Size__c</field>
            <value>
                <elementReference>Total_Fleet_Size_AAX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_SMR_jobs_per_year__c</field>
            <value>
                <elementReference>Total_SMR_jobs_per_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UK_or_International_Fleet__c</field>
            <value>
                <elementReference>UK_or_International_Fleet</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>CreatedOppID</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_created_opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bid_No_Bid__c</field>
            <value>
                <elementReference>Bid_No_Bid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Create_Contract__c</field>
            <value>
                <elementReference>Contract_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>CurrencyISO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grey_Fleet__c</field>
            <value>
                <elementReference>Grey_Fleet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holdings__c</field>
            <value>
                <elementReference>Holding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Date__c</field>
            <value>
                <elementReference>Live_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Buses__c</field>
            <value>
                <elementReference>No_of_Buses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Cars__c</field>
            <value>
                <elementReference>No_of_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Coaches__c</field>
            <value>
                <elementReference>No_of_Coaches</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_E_Scooter_E_Bikes__c</field>
            <value>
                <elementReference>No_of_E_Scooter_E_Bikes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Electric_Cars__c</field>
            <value>
                <elementReference>No_of_Electric_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Electric_Vans__c</field>
            <value>
                <elementReference>No_of_Electric_Vans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_HGV__c</field>
            <value>
                <elementReference>No_of_HGV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Minibuses__c</field>
            <value>
                <elementReference>No_of_Minibuses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Off_Road_4x4__c</field>
            <value>
                <elementReference>No_of_Off_Road_4x4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Vans_LCVs__c</field>
            <value>
                <elementReference>No_of_Cars</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Drivers__c</field>
            <value>
                <elementReference>Number_of_Drivers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRF_Creation__c</field>
            <value>
                <elementReference>PRF_Creation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTOppPick.selectedRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>Sector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Fleet_Size__c</field>
            <value>
                <elementReference>Total_Fleet_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_SMR_jobs_per_year__c</field>
            <value>
                <elementReference>Total_SMR_jobs_per_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Opportunity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UK_or_International_Fleet__c</field>
            <value>
                <elementReference>UK_or_International_Fleet</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Choose_your_Opportunity_type</name>
        <label>Choose your Opportunity type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opportunity_Values_Assignment</targetReference>
        </connector>
        <fields>
            <name>RTOppPick</name>
            <extensionName>rtp:recordTypePicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select a Record Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>picker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please ensure you select the Record Type.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;For Business Services please use Standard&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;For Drivetech please select Drivetech&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opp_values</name>
        <label>Create Opp</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Populate_Vehicle_data</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sector</name>
            <choiceReferences>SectorPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sector</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Type</name>
            <choiceReferences>OppTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Opp_values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Opp_values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Live_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Live Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sector</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Drivetech</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Opp_values_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>OppStage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>In Universe</stringValue>
                    </defaultValue>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bid_No_Bid</name>
                    <choiceReferences>BidNoBidPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bid/No Bid</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Stage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Best View</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contract_Creation</name>
            <choiceReferences>ContractCreationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Creation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
                <conditions>
                    <leftValueReference>RTOppPick.selectedRecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Drivetech</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Upsell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes - Rolling (Fixed Term)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes - Rolling (Open)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PRF_Creation</name>
            <choiceReferences>PRFCreationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PRF Creation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal Cross Sell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Opportunity_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Upsell</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>RTOppPick.selectedRecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Drivetech</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Data</name>
        <label>Vehicle Data</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Currency_EUR_or_GBP</targetReference>
        </connector>
        <fields>
            <name>Business_Services_Section</name>
            <fieldText>Business Services</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_Services_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Holding</name>
                    <dataType>Number</dataType>
                    <fieldText>Holding</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter the Holdings number available at the time this opportunity is created.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_Services_Section_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FI&amp;P</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>OEM</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Fleet &amp; Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Drivetech_UK_or_Internationalsection</name>
            <fieldText>Drivetech - UK or International</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Drivetech_UK_or_Internationalsection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Drivers</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Drivers</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter the number of drivers that this opportunity is for.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Drivetech_UK_or_Internationalsection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UK_or_International_Fleet</name>
                    <choiceReferences>UKorInternationalFleetPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>UK or International Fleet</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Drivetech</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Drivetech_Vehicle_Profile_Section</name>
            <fieldText>Drivetech Vehicle Profile</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Drivetech_Vehicle_Profile_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_of_Cars</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Cars</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Vans_LCV_s</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Vans &amp; LCV&apos;s</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_HGV</name>
                    <dataType>Number</dataType>
                    <fieldText>No of HGV</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Buses</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Buses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Coaches</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Coaches</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Drivetech_Vehicle_Profile_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_of_Minibuses</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Minibuses</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Electric_Vans</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Electric Vans</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Electric_Cars</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Electric Cars</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_E_Scooter_E_Bikes</name>
                    <dataType>Number</dataType>
                    <fieldText>No of E Scooter &amp; E Bikes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>No_of_Off_Road_4x4</name>
                    <dataType>Number</dataType>
                    <fieldText>No of Off Road (4x4)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grey_Fleet</name>
                    <dataType>Number</dataType>
                    <fieldText>Grey Fleet</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Drivetech</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prestige_Profile_section</name>
            <fieldText>Prestige Profile</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prestige_Profile_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Fleet_Size</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Fleet Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter the fleet size that is applicable for this opportunity (it may be different to the Account &apos;Total Fleet Size&apos;).&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prestige_Profile_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_SMR_jobs_per_year</name>
                    <dataType>Number</dataType>
                    <fieldText>Total SMR jobs per year</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter the SMR jobs that this opportunity relates to (This can be different to the total Account volume).&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prestige</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AA_X</name>
            <fieldText>AA-X</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AA_X_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Fleet_Size_AAX</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Fleet Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter the fleet size that is applicable for this opportunity (it may be different to the Account &apos;Total Fleet Size&apos;)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AA_X_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sector</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>AAX</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_your_Opportunity_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrencyISO</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used for when opp is created from Account record to pass the Account into the field automatically</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores data needed for creation of OppLine Item</description>
        <name>VarOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Collects the data to turn the pricebook entries into Opp Line items</description>
        <name>VarOppProd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Variable to store the fields for the opportunity</description>
        <name>VarOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>VarPriceBookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <description>Collect Product Records</description>
        <name>VarProdRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
