force-app/main/default/flows/Opportunity_Price_Book_Assigning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AAX_Pricebook</name>
        <label>Assign AAX Pricebook</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Accident_Management_Pricebook</name>
        <label>Assign Accident Management Pricebook</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Commissioning_Force_Pricebook</name>
        <label>Assign Commissioning Force Pricebook</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Drivetech_Pricebook</name>
        <label>Assign Drivetech Pricebook</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Prestige_Pricebook</name>
        <label>Assign Prestige Pricebook</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Pricebook ID is assigned from value collected in loop</description>
        <name>Assign_Pricebook_ID</name>
        <label>Assign Pricebook ID</label>
        <locationX>798</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Var_PriceB_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_sector_related_to_Business_Services</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBusiness_Services</name>
        <label>Assign Business Services</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Loop_1.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_PriceB_Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Pricebook_is_Roadside_Assist</name>
        <label>Pricebook is Roadside Assist</label>
        <locationX>798</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Var_PriceB_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check the sector of an opportunity to assign the correct price book</description>
        <name>Check_Sector</name>
        <label>Check Sector</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>AssignBusiness_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Services</defaultConnectorLabel>
        <rules>
            <name>Drivetech</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drivetech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Drivetech_Pricebook</targetReference>
            </connector>
            <label>Drivetech</label>
        </rules>
        <rules>
            <name>AAX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AAX_Pricebook</targetReference>
            </connector>
            <label>AAX</label>
        </rules>
        <rules>
            <name>Accident_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accident Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accident_Management_Pricebook</targetReference>
            </connector>
            <label>Accident Management</label>
        </rules>
        <rules>
            <name>Prestige</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prestige</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prestige_Pricebook</targetReference>
            </connector>
            <label>Prestige</label>
        </rules>
        <rules>
            <name>Commissioning_Force</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commissioning Force</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commissioning_Force_Pricebook</targetReference>
            </connector>
            <label>Commissioning Force</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the sector is FIP, Fleet Lease or OEM</description>
        <name>Is_the_sector_related_to_Business_Services</name>
        <label>Is the sector related to Business Services</label>
        <locationX>930</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Business_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FI&amp;P</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fleet &amp; Leasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OEM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricebook_is_Roadside_Assist</targetReference>
            </connector>
            <label>Business Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if the pricebook sector matches the opportunity sector</description>
        <name>Is_there_a_match_between_the_Opp_PB_Sector</name>
        <label>Is there a match between the Opp &amp; PB Sector?</label>
        <locationX>930</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Is_the_sector_related_to_Business_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Sector__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sector__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricebook_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to assign pricebooks to sectors in the opportunities automatically</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Price Book Assigning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Price Book Assigning</label>
    <loops>
        <description>Loop through the pricebook ID</description>
        <name>Loop_1</name>
        <label>Check Pricebook ID/Sector</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_Pricebook_iD_s</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_there_a_match_between_the_Opp_PB_Sector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Sector</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all of the Pricebook ID&apos;s &amp; Names</description>
        <name>Get_Pricebook_iD_s</name>
        <label>Get Pricebook iD&apos;s</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pricebook_iD_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sector__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_PriceB_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
