force-app/main/default/flows/Orders_Create_Order_with_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Append_Order</name>
        <label>Append Order #</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Created_PRF.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRF_AutoName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PRF_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Items_to_Collection</name>
        <label>Assign Line Items to Collection</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ContractLIsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContractProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProdsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prep_Contract_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Generate_Contract_Order_Line_Items</name>
        <label>Generate Contract &amp; Order Line Items</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewContractProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prep_Contract_Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_PRF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Triggering_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Items_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Flow to created Order &amp; retrieve data from related Objects</description>
    <environments>Default</environments>
    <formulas>
        <name>PRF_AutoName</name>
        <dataType>String</dataType>
        <expression>{!Get_Triggering_Opportunity.Account.Name} &amp; &apos; New PRF -  &apos; &amp; {!Get_Created_PRF.OrderNumber}</expression>
    </formulas>
    <interviewLabel>Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orders - Create Order with Related Records</label>
    <loops>
        <name>Prep_Contract_Line_Items</name>
        <label>Prep Contract Line Items</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Contract_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <inputReference>OrderProdsToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PRF</name>
        <label>Create PRF</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Created_PRF</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Check_Completed__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Account.Credit_Check_Complete__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Limit__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Account.Credit_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Review_Frequency__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Account.Credit_Review_Frequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Primary_Manager__c</field>
            <value>
                <elementReference>Get_Customer_Primary_Manager.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Live_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IAM_SDM__c</field>
            <value>
                <elementReference>Get_Account_Team_IAM_SDM.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_other_please_specify__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Account.Payment_Terms_Other__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Contact__c</field>
            <value>
                <elementReference>Get_Invoice_Contact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReductionOrder</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PRF_AutoName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Account.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Triggering_Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Team_IAM_SDM</name>
        <label>Get Account Team (IAM/SDM)</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PRF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivetech IAM/SDM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_PRF</name>
        <label>Get Created PRF</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Append_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_PRF</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Primary_Manager</name>
        <label>Get Customer Primary Manager</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Team_IAM_SDM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Primary Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Contact</name>
        <label>Get Invoice Contact</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Primary_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Opportunity</name>
        <label>Get Triggering Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PRF_Name</name>
        <label>Update PRF Name</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Prep_Contract_Line_Items</targetReference>
        </connector>
        <inputReference>Get_Created_PRF</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractLIsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>NewContractProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContractLineItem</objectType>
    </variables>
    <variables>
        <name>NewOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProdsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
